.oyin{
    background-image: url(https://media.istockphoto.com/vectors/cartoon-jungle-game-background-vector-id523820702?k=6&m=523820702&s=170667a&w=0&h=Z_0EoJV-a_YY5yuXz62C98PtcUOnlkAg0m4riB4PXU0=);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.head{
    font-size: 70px;
    font-weight: bold;
    color: rgb(36, 56, 36);
    padding-top: 70px;
    text-align: center;
    margin-bottom: 150px;
}
.input{
    text-align: center;
    font-size: 30px;
    padding: 5px;
    display: block;
    margin: 30px auto ;
    border: rgb(36, 56, 36) solid 2px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.button{
    display: block;
    margin: 10px auto;
    font-size: 25px;
    color: rgb(36, 56, 36);
    font-weight: bold;
    background-color: white;
    border: rgb(36, 56, 36) solid 2px;
    border-radius: 15px;
    padding: 5px 10px;
}
.display{
    height: 20px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(36, 56, 36);
}